<!DOCTYPE html>
<html>
<head>
	<title>MeoUp - Login</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
</head>
<body>
	<a href="<%= authorizeURL %>" target="_blank">Get Pin</a>
	<form method="POST">
		Pin:<br>
		<input type="text" name="pin" value=""><br>
		<input type="submit" value="Submit">
	</form> 
</body>
</html>