#wrapper {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}

#downloads {
    margin-top: 20px;
}

.download .progress {
    display: inline-block;
    width: 200px;
    margin-bottom: 0;
}

.download {
    width: 100%;
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 10px;
    border: 1px solid #aaa;
    background: #fff;
    box-sizing: border-box;
}

.download .download-link {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.download-icon {
    text-decoration: none!important;
}

.download-icon > span {
    vertical-align: top;
    line-height: inherit;
}

.download-icon .fa-circle {
    color: #446ae4;
    line-height: inherit;
}

.delete-icon > i {
    vertical-align: 30%;
    color: #8b8b8b;
}

.download-side-icons {
    padding-top: 5px;
    padding-right: 5px;
    float: right;
    line-height: 1.5em;
}

.download {position: relative;}

.spinner > .fa-spinner {
    vertical-align: middle;
    font-size: 34px;
}

.modal-footer > .alert {
    margin: 10px 0 0;
    text-align: left;
}

@media only screen and (min-width: 500px) {
  .download:before {
    content: '';
    float: right;
    display: block;
    width: 250px;
    margin-bottom: 10px;
  }
  .download-side-icons {
    position: absolute;
    top: 0;
    right: 0;
  }
}